body{
    display: inline;
    background-color: #f0f2f5;
}
h2{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight:100;
    font-size: 25px;
    margin-top: -5px;
    margin-left: 40PX;
}
.row{
    margin: auto;
    font-size: 17px;
    padding: 14px 16px;
    width: 332px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
}
#page{
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
}
input{
    display: inline-block;
    font-size: 18px;
    margin: auto;
    padding: 6px 0;
    outline: white;
    width: 340px;
    border: unset;
}
#pag{
    font-weight: bolder;
    color: #1c1e21;
    text-decoration: none;
}
#pag:hover{
    text-decoration: underline;
}
 #mtop{
    margin-top: 16px; 
}
.forget{
    font-family: sans-serif;
    text-decoration: none;
    color: #4691f5;
}
.forget:hover{
    text-decoration: underline;
}
#size{
    height: 10px;
    margin: -28px;
    margin-top: -28px;
    margin-right: -28px;
    margin-bottom: -28px;
    margin-left: -28px;
}
#pic{
    position: absolute;
    top: 20%;
    left: 5%;
}
#main{
    position: absolute;
    top: 10%;
    right: 10%;
}
.box2{
    text-align: center;
    align: left;
}
.btn2{
    background-color: #42b72a;
    color: #fff;
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    display: inline-block;
    cursor: pointer;
}
.box1{
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}
._login{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    box-sizing: content-box;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    font-weight: bold;
    text-align: center;
}
._login:hover{
    background-color: #0f72f3;
}
.btn{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(218, 221, 225);
    margin: 20px 16px;
    text-align: center;
}